/* .nav-con-link{
    text-decoration: none;
    margin-right: 25px;  
    
} */
a{
    text-decoration:none;
    font-size:larger;
    color:royalblue;
    font-weight: 700;
    margin-right: 20px;;
}
a:hover{
    
    color:rgba(12, 65, 114, 0.459);
}
